* {
    box-sizing: border-box;
}
body {
    background: #eee;

}
p {
    text-align: center;
}
button {
    margin-left: 1em;
    background: #159fff;
    border: none;
    padding: 0.5em 2em;
    color: white;
    text-transform: uppercase;
}

button:hover {
     background: darkred;
}

#chart {
    background: #fff;
    width: 90%;
    margin: 1em auto;
}
