
.app-body{
  height:100%;
  width:100%;
}

header{
  position: -webkit-sticky;
  top:0;
  left: 14%;
  width: 100%;
  padding: 20px;
  background-color:rgba(0,0,0,0.45);
  color: white;
}

header #text{
  position: relative;
  left:1%;
}

main{
  height: 90%;
  position: relative;
  left:15%;
  width: 85%;
}

nav{
  position: absolute;
  height: 125%;
  width:15%;
  background-color: rgba(0,0,0,0.45);
}

#sidenav{

}

#sidenav a{
  display: block;
  color:white;
  padding: 8px 16px;
  text-decoration: none;
}

#sidenav a.activate{
  background-color: #4CAF50;
}

#sidenav a:hover:not(.activate){
  background-color: gray;
  color:white;
}

/*
Dash board configure
*/
#home-button-group{
  position: relative;
  top:20px;
  width:80%;
  white-space: nowrap;
  text-align: center;
}

#home-button-group .btn{
  background-color: rgba(255,255,255,0.1);
  border: none;
  width: 26%;
  margin: 1% 1%;
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,.1);

  color:white;
}



/*
CheckConsupm
*/


.box3-wrapper{
  width:90%;
  margin:5% auto;
  display: flex;
}

.box3-wrapper .box3{
  flex:1;
  margin: 10px 10px;
  border-top: 3px solid black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,.1);
}


.box2-wrapper{
  width:90%;
  margin:5% auto;
  display: flex;
}


.box2-wrapper .box2-50{
  flex:1;
  width:44%;
  margin:10px 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,.1);
  border:1px solid white;
}


.box2-wrapper #box2-30{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,.1);
  border-top: 2px solid black;

  flex: 1;
  width: 30%;
  margin: 10px 10px;
}

.box2-wrapper #box2-70{
  flex: 2.55;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,.1);
  border-top: 2px solid black;
  width: 70%;
  margin: 10px 10px;
}


#date-btn-group{
  width: 90%;
  margin: 30px auto;
}

#date-btn-group button{
  cursor: pointer;
  width:23%;
  margin: 0 1%;
  padding: 1.8%;
  background-color: rgba(255,255,255,0.3);
  border: none;
  border-top: 2px solid black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,.1);
  color:white;
}
#date-btn-group button:hover{
  background-color: rgba(0,0,0,0.5);

}
